<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title> Silk Road Model (fp16 mode {{fp16_mode}})</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" >

    <!-- Custom styles for this template -->
    <link href="/static/css/form_upload.css" rel="stylesheet">
</head>

<body class="text-center">
  <form class="form-upload" method=post enctype=multipart/form-data>
    <h1 class="h3 mb-3 font-weight-normal">Поиск пешеходных дорожек</h1>
    Изображение
    <input type="file" id="image" name ="image" accept=".png, .tif, .jpg, .jpeg" class="form-control" required autofocus>
    <br>
    .tfw файл (опционально)<input type="file" id="tfw" name ="tfw" accept=".tfw" class="form-control" autofocus>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Обработать</button>
    <br><br>
    {% if image_loc %}
      <h4>Результаты:</h4>
      <a target="_blank" rel="noopener noreferrer" href="/download/{{visualization_path}}">Визуализация дорожек</a>
      <br>
      <a target="_blank" rel="noopener noreferrer" href="/download/{{mask_path}}">Маска вероятностей дорожек (numpy-массив)</a>
      <br>
      {% if shapefile_path %}
        <a target="_blank" rel="noopener noreferrer" href="/download/{{shapefile_path}}">Shapefile</a>
      {% else %}
        Shapefile не доступен, так как .tfw файл не был загружен
      {% endif %}

      <!-- <img class="mb-4" src="{{image_loc}}" alt="" width="512" height="512"> -->
      <!-- <h3 class="h3 mb-3 font-weight-normal">Prediction: {{prediction}}</h3> -->
    {%endif%}  
  </form>
</body>
</html>
